form {
  width: 70% !important;
  margin: 0 auto;
  background-color: #e2e0e0;
  border-radius: 10px;
  padding: 10px 10px;
}

.error {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(212, 178, 178);
  color: rgb(161, 13, 13);
  font-size: 14px;
  width: 60%;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
  font-size: 12px;
  display: block;
  margin-bottom: 3px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 8px;
}
select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  margin-bottom: 15px;
}

button {
  background-color: #0249b4;
  color: #f2f2f2;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #b80808;
  line-height: 10px;
}
.swal2-styled.swal2-confirm {
  padding-right: 39px;
}
.container1 {
  padding: 16px;
}

.container2 {
  margin: 0 auto;
  border-radius: 5px;
}

.psw {
  display: block;
  margin-left: 10px;
}

@media only screen and (min-width: 600px) {
  form {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  form {
    width: 50%;
  }
}

@media only screen and (min-width: 1250px) {
  form {
    width: 40%;
  }
}

@media only screen and (min-width: 1450px) {
  form {
    width: 30%;
  }
}

@media only screen and (min-width: 1750px) {
  form {
    width: 25%;
  }
}

@media only screen and (min-width: 2422px) {
  form {
    width: 20%;
  }
}
